

h1{
    border: red solid;
}
h1 span{
    color: #023047;
}
header div{
    border: green solid;
}

header{
    background: #023047;
    color: white;
}
.profil{
    height: 400px;
    background-color: blue;


}